:root {
  --main-color: #404e82;
  --today-color: rgba(64, 78, 130, 0.4);
}

.atividades .fc .fc-button-primary {
  color: rgb(54, 51, 51);
  background-color: white;
  border-color: white;
  display: none;
}

.atividades .fc .fc-button-primary:hover {
  color: var(--main-color);
  background-color: white;
  border-color: white;
}

.atividades > .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  width: 300px;
}

.atividades > .fc-scroller {
  overflow-y: hidden !important;
}

.atividades > .fc-today-button.fc-button.fc-button-primary {
  visibility: hidden;
}

.atividades > .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  margin: 0px;
}

.atividades > h2.fc-toolbar-title {
  color: var(--main-color);
  font-size: 0.9em;
}

.atividades > #fc-dom-2 {
  font-size: 0.9em;
}

.atividades > #fc-dom-512 {
  font-size: 0.9em;
}

.atividades > .fc-toolbar {
  text-transform: capitalize;
}

.atividades > .fc.table {
  border-radius: 5px;
}

.atividades > .fc-view-harness.fc-view-harness-active {
  border-radius: 5px;
}

.atividades > .fc-daygrid-day-frame {
  height: 3px;
  border-radius: 10px;
}

.atividades > a.fc-col-header-cell-cushion {
  color: rgb(54, 51, 51);
  font-size: 0.9em;
}

.atividades > .fc-scrollgrid-section.fc-scrollgrid-section-header {
  font-size: 0.6em;
}

.atividades > .fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid {
  font-size: 0.6em;
}

.atividades > .fc .fc-daygrid-day.fc-day-today {
  background-color: var(--today-color);
}

.atividades > .fc-today-button.fc-button.fc-button-primary {
  font-size: 0.6em;
}

.atividades {
  color: black;
}

.atividades > .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
  margin-right: auto;
  margin-left: auto;
}