.Profile {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  margin: auto;
}

.buttons {
  margin: 8px;
  text-align: right;
  margin-top: 20px;
}

h5{
    text-align: center;
}

h2 {
  color: #5579b9;
}

.MuiBox-root.css-i9gxme {
    width: 100%;
    height: 900px;
  }

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-mhc70k-MuiGrid-root {
  min-width: 500px;
  margin: 0px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 20px;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1hi7ere-MuiSvgIcon-root{
    margin: 0px;
    text-align: center;
    align-items: center;
}

.MuiBox-root.css-1af8mx8{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.MuiList-root.MuiList-padding.css-h4y409-MuiList-root{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.MuiListItemButton-root.MuiListItemButton-gutters.MuiButtonBase-root.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root{
    text-align: center;
    width: 320px;
}