.body {
  display: flex;
  grid-template-rows: auto 1fr auto;
}

.page {
  display: grid;
  grid-template-columns: auto 1fr;
}

.header {
  height: 100px;
  grid-row: 1;
}

.footer {
  height: 30px;
  grid-row: 3;
}

.week-calendar {
  width: 600px;
  padding: 10px;
  grid-column: 2;
  margin-left: auto;
  margin-right: auto;
}

.month-calendar {
  height: 200px;
  grid-column: 1;
}
