.SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    height: 100vh;
}

.buttons {
    margin: 25px;
}

.image-item {
    display: flex;
}

.upload__image-wrapper {
    margin: 25px;
}

h2 {
    color: #5579B9;
}