h2.fc-toolbar-title {
    color: #404e82;
}

.fc table {
    border-radius: 15px;
}
.calendar {
    height: 600px;
}

a.fc-col-header-cell-cushion {
    color: #404e82;
}

.fc .fc-prev-button {
    outline: none;
}
.fc .fc-next-button {
    outline: none;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(64, 78, 130,0.4);
}