:root {
  --main-color: #404e82;
  --today-color: rgba(64, 78, 130, 0.4);
}

h2.fc-toolbar-title {
  color: var(--main-color);
}

.fc.table {
  border-radius: 5px;
}

.fc-view-harness.fc-view-harness-active {
  border-radius: 5px;
}

.fc-daygrid-day-frame {
  height: 3px;
  border-radius: 10px;
}

a.fc-col-header-cell-cushion {
  color: var(--main-color);
}

.fc .fc-prev-button {
  outline: none;
}
.fc .fc-next-button {
  outline: none;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--today-color);
}
