:root {
  --main-color: #404e82;
  --today-color: rgba(85, 121, 185, 0.4);
}

.month-calendar > h2.fc-toolbar-title {
  color: var(--main-color);
}

.month-calendar > .fc .fc-prev-button {
outline: none;
}

.month-calendar > .fc .fc-next-button {
  outline: none;
}

.month-calendar > .fc table {
  border-radius: 15px;
}

.month-calendar h2.fc-toolbar-title {
  color: var(--main-color);
  font-size: 0.9em;
}

.month-calendar #fc-dom-2 {
  font-size: 1.2em;
}


.month-calendar > .fc-view-harness.fc-view-harness-active {
  border-radius: 5px;
}

.fc-daygrid-day-frame {
  height: 3px;
}

.month-calendar > a.fc-col-header-cell-cushion {
  color: var(--main-color);
}

.month-calendar > .fc-daygrid-day.fc-day-today {
  background-color: var(--today-color);
}

.fc-scroller {
  overflow-y: hidden !important;
}

.month-calendar > .fc-daygrid-day-top {
  flex-direction: column;
  text-align: center;
}
