.Header {
  background-color: white;
}

.app-header {
  background-color: #404e82;
  border-radius: 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.menu {
  display: block;
  text-align: center;
  padding: 10px 10px 0px 10px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: beige;
}

.menu-item {
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
}


.menu-user {
  text-align: right;
  color: white;
  margin-right: 20px;
  margin-top: 0px;
  padding: 0px;
}

.menu-item-login {
  text-align: center;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.name{
  margin-right: 20px;
}

.logo {
  padding-right: 20px;
}

.material-icons{
  font-size: 48px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  margin-top: 0px;
  padding: 0px;
}
