.Header {
  background-color: #404e82;
}

.app-header {
  background-color: #404e82;
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: block;
  text-align: center;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.082);
}
.menu-item {
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px 50px 20px 50px;
}
.menu-user{
    text-align: right;
    color:white;
    margin-right: 20px;
}
.drop-item{
    background-color: white;
}