body::-webkit-scrollbar {
  width: 12px;  
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 5px;
}

.container {
  display: flex;
  columns: 2;
  column-gap: 100px;
}

.side { 
  grid-column: 1;
}

.main {
  grid-column: 2;
  border: 1px solid black;
  justify-content: flex-end;
}

p.mensagem {
  width: 50%;
  border-radius: 20px;
  padding: 15px;
}

p.usuario-logado {
  margin-left: 80px;
  text-align: right;
  justify-content: space-between;
  background-color: #5579b9;

} 

p.outros-usuarios {
  background-color:  #557ab95b;
}

.footer {
  text-align: center;
}