.main {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin: 30px 30px;
  column-gap: 8em;
  height: 100vh;
  overflow: hidden;
}

.col-1 {
  width: 30%;
  float: left;
}

.col-2 {
  width: 95%;
  padding: 15px 40px;
  border: 1px solid #57575798;
  border-radius: 10px;
  float: left;
}

p.message {
  width: 70%;
  border-radius: 20px;
  padding: 15px;
  background-color:  #557ab95b;
}

p.logged {
  margin-left: 25%;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #5579b9;
} 